<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"
            style="display: flex;justify-content: center;width: 100%;">
            <h4>New Customer</h4>
        </li>
    </ol>
</nav>

<div class="container-fluid" id="customer-list">
    <div class="card mb-5">
        <h5 class="card-header"><i class="fa fa-filter mr-3 text-primary fa-fw"></i>Add a new customer</h5>
        <div class="card-body">
            <form id="add-form" novalidate (ngSubmit)="addCustomer()" [formGroup]="customerForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" formControlName="name" [ngClass]="{'is-invalid': displayMessage.name }"
                            class="form-control" placeholder="Enter the name" />
                        <span class="text-danger" *ngIf="displayMessage.name">
                            <p [innerHTML]="displayMessage.name"></p>
                        </span>
                    </div>
                    <!-- this not using generic validator, using sample way to validate form.
                        <input type="text" formControlName="phone" celular [textMask]="{mask: MASKS.celular.textMask}"
                        [ngClass]="{'is-invalid': isInvalidForm('phone') }" class="form-control"
                        placeholder="Enter the phone" />
                    <span class="text-danger" *ngIf="isInvalidForm('phone', 'required')">Phone is required!</span>
                    <span class="text-danger" *ngIf="isInvalidForm('phone', 'celular')">Phone is invalid!</span> -->
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="text" formControlName="phone" celular [textMask]="{mask: MASKS.celular.textMask}"
                            [ngClass]="{'is-invalid': displayMessage.phone }" class="form-control"
                            placeholder="Enter the phone" />
                        <span class="text-danger" *ngIf="displayMessage.phone">
                            <p [innerHTML]="displayMessage.phone"></p>
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        <select class="form-control" formControlName="genderId"
                            [ngClass]="{'is-invalid': displayMessage.genderId }">
                            <option [ngValue]="0" selected>Select</option>
                            <option *ngFor="let pnt of genders" [value]="pnt.id">
                                {{pnt.name}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage.genderId">
                            <p [innerHTML]="displayMessage.genderId"></p>
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Region</label>
                        <select (change)="changeRegion()" formControlName="regionId"
                            [ngClass]="{'is-invalid': displayMessage.regionId }" class="form-control">
                            <option [ngValue]="0" selected>Select</option>
                            <option *ngFor="let pnt of regions" [value]="pnt.id">
                                {{pnt.name}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage.regionId">
                            <p [innerHTML]="displayMessage.regionId"></p>
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>City</label>
                        <select (change)="changeCities()" formControlName="cityId"
                            [ngClass]="{'is-invalid': displayMessage.cityId }" class="form-control">
                            <option [ngValue]="0" selected>Select</option>
                            <option *ngFor="let pnt of cities" [value]="pnt.id">
                                {{pnt.name}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage.cityId">
                            <p [innerHTML]="displayMessage.cityId"></p>
                        </span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="classificationId">Classification</label>
                        <select class="form-control" formControlName="classificationId"
                            [ngClass]="{'is-invalid': displayMessage.classificationId }">
                            <option [ngValue]="0" selected>Select</option>
                            <option *ngFor="let pnt of classifications" [value]="pnt.id">
                                {{pnt.name}}
                            </option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage.classificationId">
                            <p [innerHTML]="displayMessage.classificationId"></p>
                        </span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right" [disabled]="isInvalidForm('form')">
                    <i class="fa fa-search mr-1 fa-fw"></i>Save
                </button>
                <button type="button" class="btn btn-warning mr-3 pull-right">
                    <i class="fa fa-eraser mr-1 fa-fw"></i>Clear Fields
                </button>
                <button [routerLink]="['/customer']" type="button" class="btn btn-light">
                    <i class="fa fa-arrow-left mr-1 fa-fw"></i>Back
                </button>
            </form>
        </div>
    </div>
</div>