<td>
    <button type="button" class="btn btn-info btn-sm mr-3" (click)="sendEvent()">
        <i class="fa fa-eye mr-1 fa-fw"></i>View
    </button>
</td>
<td>{{customer.classification.name}}</td>
<td>{{customer.name}}</td>
<td>{{customer.phone}}</td>
<td>{{customer.gender.name}}</td>
<td>{{customer.city.name}}</td>
<td>{{customer.region.name}}</td>
<td>{{customer.lastPurchase | date: 'dd/MM/yyyy'}}</td>
<td *ngIf="userRoleId == 1">
    <!-- {{customer.user.login}} -->
    <ng-content select=".seller"></ng-content>
</td>